<navigation active="'developer'"></navigation>

<div class="container content border-radius-top tabs">
    <a class="tab tab-active" href="#!/developer">Resume</a>
    <a class="tab" href="#!/developer/projects">Projects</a>
</div>

<div class="container content border-radius-bottom p-5">

    <div class="text-center">
        <h1>Jasper Benjamin Reddin</h1>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-3 pt-3">
            <a class="btn btn-dark-2 w-100" href="https://jasperreddin.com">jasperreddin.com</a>
        </div>
        <div class="col-lg-3 pt-3">
            <a class="btn btn-dark-2 w-100" href="https://www.linkedin.com/in/jasper-reddin-582863136/">LinkedIn</a>
        </div>
        <div class="col-lg-3 pt-3">
            <a class="btn btn-dark-2 w-100" href="https://github.com/DrOverbuild">GitHub</a>
        </div>
        <div class="col-lg-3 pt-3">
            <a class="btn btn-dark-2 w-100" href="mailto:jasper@jasperreddin.com">Email</a>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-10">
            <h1>Education</h1>
            <h3>University of Central Arkansas</h3>
            <ul>
                <li>Conway, AR</li>
                <li>Anticipated Graduation: <em>May 2021</em></li>
                <li>Bachelor of Science &#8212; Computer Science &#8212; GPA: 3.921 &#8212; Senior</li>
            </ul>

            <h3>Arkansas Coding Academy</h3>
            <ul>
                <li>Conway, AR</li>
                <li>Graduated December 2020</li>
                <li>Course &#8212; Java & SQL Full Stack</li>
            </ul>
        </div>
        <div class="col-lg-2">
            <img src="img/jasper.jpg" class="w-100 rounded-circle">
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h1>Skills</h1>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-3">
        <div class="col-lg-6">
            <h2>Programming Languages</h2>
            <ul>
                <li>Java</li>
                <li>Swift</li>
                <li>C++</li>
                <li>Objective-C</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>SCSS</li>
                <li>JavaScript</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>Python</li>
                <li>Dart</li>
                <li>Kotlin</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>Frameworks</h2>
            <ul>
                <li>Apache HTTP Server</li>
                <li>Apache Tomcat</li>
                <li>Flutter</li>
                <li>NodeJS</li>
                <li>AngularJS</li>
                <li>JQuery</li>
                <li>Bootstrap</li>
                <li>RESTful Web Services</li>
            </ul>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-3">
        <div class="col-lg-6">
            <h2>Tools & Services</h2>
            <ul>
                <li>Xcode</li>
                <li>JetBrains IntelliJ Ultimate</li>
                <li>Eclipse</li>
                <li>CocoaPods</li>
                <li>Git</li>
                <li>GitHub</li>
                <li>SSH</li>
                <li>FTP</li>
                <li>Linux</li>
                <li>Maven</li>
                <li>AWS Elastic Beanstalk</li>
                <li>Google Firebase</li>
                <li>Google Cloud Platform Compute Engine</li>
                <li>Postman</li>
                <li>JIRA</li>
                <li>Slack</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>Photo & Video</h2>
            <ul>
                <li>Adobe Photoshop</li>
                <li>Adobe Lightroom</li>
                <li>Adobe Illustrator</li>
                <li>Adobe Premier</li>
                <li>Adobe After Effects</li>
                <li>Final Cut Pro</li>
                <li>DaVinci Resolve</li>
            </ul>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h1>Work & Volunteer Experience</h1>
            <h2 class="pt-3">Chemistry Connection</h2>
            <p>Conway, AR: Web Designer &#8212; <em>2016 - present</em></p>
            <ul>
                <li>Maintaining the front-end design of the online store using the BigCommerce API and
                    Stencil CLI</li>
                <li>Enhancing employee productivity by building and maintaining a full stack software solution
                    for managing and hosting PDFs of safety and technical information of products
                </li>
                <li>Boosting sales and overall profits by photographing and editing photos for products for use
                    on the website and social media as well as updating product descriptions and SEO metadata.</li>
                <li>Amplifying online presence by producing tutorial videos involving products for social media</li>
            </ul>

            <h2 class="pt-3">Arkansas Coding Academy</h2>
            <p>Conway, AR: Teaching Assistant &#8212; <em>2020 - present</em></p>
            <ul>
                <li>Auditing the Java & SQL Full Stack course in order to become familiar with the structure</li>
                <li>Enhancing student performance by providing supplemental after-hours instruction and assistance
                    for students enrolled in the Java & SQL Full Stack course</li>
                <li>Increasing online applications by improving the design of web pages on the academy’s WordPress website</li>
                <li>Improving the academy’s online presence and student engagement by producing video curriculum for
                    additional instructional resources</li>
            </ul>

            <h2 class="pt-3">MobX</h2>
            <p>Little Rock, AR: iOS Developer Internship &#8212; <em>Summer 2019</em></p>
            <ul>
                <li>Debugged and fixed issues in several mobile software projects</li>
                <li>Researched options for incorporating machine learning to categorize images and text posts</li>
            </ul>

            <h2 class="pt-3">Royer Ramirez</h2>
            <p>iOS Developer Contractor &#8212; <em>Summer 2020</em></p>
            <ul>
                <li>Designed and implemented core features based off of the model-view-controller design
                    paradigm</li>
                <li>Used the Google Firebase Realtime Database API to synchronize data across devices</li>
            </ul>

            <h2 class="pt-3">City of Hope Outreach</h2>
            <p>Conway, AR: Volunteer Project &#8212; <em>2018 - present</em></p>
            <ul>
                <li>Built a full stack web and mobile resource database, providing information for local non-profits and
                    social services
                </li>
                <li>The iOS version, built natively on iOS with Swift was released in early 2019</li>
                <li>The Android version, built with the Flutter mobile framework, was released early 2021</li>
            </ul>
        </div>
    </div>
</div>
