<div class="homepage-central">
    <div class="homepage-left" id="logo">
        <a href="/"><img id="logoimghome" src="img/jrlogo.png"></a>
    </div>
    <div class="homepage-right">
        <h1><a href="/">JASPER REDDIN</a></h1>
        <h2>
            <a href="#!/music">MUSIC</a>
            <span class="bull">&bull;</span>
            <a href="#!/photography">PHOTOGRAPHY</a>
        </h2>
        <h2>
            <a href="#!/developer">DEVELOPER</a>
            <span class="bull">&bull;</span>
            <a href="#!/films">FILMS</a>
        </h2>
    </div>
</div>

<div class="social">
    <a target="_blank" href="https://geo.itunes.apple.com/us/artist/jasper-reddin/1274956605?mt=1&app=music" title="Apple Music">
        <img src="img/social/apple.png">
    </a>
    <a target="_blank" href="https://soundcloud.com/jasperreddin/tracks" title="Soundcloud">
        <img src="img/social/sc.png">
    </a>
    <a target="_blank"
       href="https://open.spotify.com/artist/0bci4Hym10OanrmlvUaQyv?si=Epx-iKcYTR2S6zTzofU_dw" title="Spotify">
        <img src="img/social/spotify.png"></a>
    <a href="https://twitter.com/jasperreddin" title="Twitter">
        <img src="img/social/twitter.png">
    </a>
    <a target="_blank" href="https://www.youtube.com/c/TwoGuysBrickfilms1" title="YouTube">
        <img src="img/social/yt.png">
    </a>
</div>