<navigation active="'music'"></navigation>

<div id="gallery" class="music-gallery" ng-show="!loadErr">
	<div class="music-gallery-item" ng-repeat="song in music" on-finish-render style="background-image: url({{song.artwork}})">
		<div class="music-caption" style="display: none">
			<div>{{song.title}}</div>
			<div class="music-links">
				<a class="embedlinks" ng-click="ytClicked(song.ytId)"><img src="/img/social/yt.png"></a>
				<a ng-show="song.appleMusicUrl" href="{{song.appleMusicUrl}}" target="_blank"><img src="/img/social/apple.png"></a>
				<a ng-show="song.spotifyId" ng-click="spotifyClicked(song.spotifyId)" target="_blank"><img src="/img/social/spotify.png"></a>
			</div>
		</div>
	</div>
</div>
