<header>
    <ul id="nav">
        <li id="logo"><a href="/" class=""><img id="logoimg" src="/img/jrlogosmall.png"></a></li>
        <li><a href="#!/music" ng-class="{active: activeClass=='music'}">MUSIC</a></li>
        <li><a href="#!/photography" ng-class="{active: activeClass=='photography'}">PHOTOGRAPHY</a></li>
        <li><a href="#!/developer" ng-class="{active: activeClass=='developer'}">DEVELOPER</a></li>
        <li><a href="#!/contact" ng-class="{active: activeClass=='contact'}">CONTACT</a></li>
    </ul>
</header>