<navigation active="'developer'"></navigation>

<div class="container content border-radius-top tabs">
    <a class="tab" href="#!/developer">Resume</a>
    <a class="tab tab-active" href="#!/developer/projects">Projects</a>
</div>

<div class="container content border-radius-bottom p-5">

    <div class="text-center">
        <h1>Web Projects</h1>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>MakeYourOwn.buzz</h2>
            <img class="img-fluid" src="/img/projects/makeyourownbuzz.png">
            <p class="pt-3">
                This is a <a href="https://bigcommeerce.com">BigCommerce</a> template built for
                <a href="https://makeyourown.buzz" target="_blank">MakeYourOwn.buzz</a>. BigCommerce built their own theme platform called Stencil,
                and it includes a complete CLI toolset for building, debugging, and bundling themes. This particular theme is a fork of BigCommerce's
                open-source default theme, <a href="https://www.bigcommerce.com/theme/cornerstone-light/" target="_blank">Cornerstone</a>. My specific
                changes include a redesigned navigation bar, header, and front page, as well an additional tab in the product section and other minor
                changes and improvements.
            </p>
            <p class="text-right">
                <a href="https://github.com/chemconx/cornerstone_myo" class="btn btn-dark-2" target="_blank">MakeYourOwn.buzz GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>ChemistryConnection.com</h2>
            <img class="img-fluid" src="/img/projects/chemconx.png">
            <p class="pt-3">
                <a href="https://chemistryconnection.com">This site</a> is a full stack web solution for storing and linking to technical data
                sheets on MakeYourOwn.buzz. Its purpose was to be an easy to use PDF hosting tool for the Chemistry Connection staff to browse,
                upload, and copy links to technical data sheets for products on MakeYourOwn.buzz. Built with the Apache PHP web server.
            </p>
            <p class="text-right">
                <a href="https://github.com/chemconx/chemistryconnection.com" class="btn btn-dark-2" target="_blank">ChemistryConnection GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>missingthejoke.com</h2>
            <img class="img-fluid" src="/img/projects/missingthejoke.png">
            <p class="pt-3">
                <a href="https://missingthejoke.com">missingthejoke.com</a> is small landing page for a podcast that I produce with a friend
                of mine. Includes links to listen to the podcast, view on Patreon, and a small webstore for buying our stickers. Hosted on
                Google Firebase. Built with Bootstrap and AngularJS. The store checkout uses the Stripe framework.
            </p>
            <p class="text-right">
                <a href="https://github.com/DrOverbuild/missingthejoke" class="btn btn-dark-2" target="_blank">missingthejoke.com GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>cohoresource.app</h2>
            <img class="img-fluid" src="/img/projects/cohoresource.png">
            <p class="pt-3">
                Formerly cohoresourcebook.org, this website was built with a hand-built PHP template system, MySQL, HTML, CSS, JavaScript (with JQuery).
                It was built for administrators and interns at the City of Hope Outreach (a local non-profit in Conway, AR) to easily add and manage content
                of the resource app built for iOS and Android. Hosting and data has been migrated to Google Firebase, and there are plans in the works
                to rebuild the site as a single-page web app using AngularJS.
            </p>
            <p class="text-right">
                <a href="https://github.com/city-of-hope-outreach/cohoresourcebook.org" class="btn btn-dark-2" target="_blank">cohoresource.app GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="text-center">
        <h1>Mobile Projects</h1>
    </div>

    CoHO Resource App
    Entegrity EnForm

    <div class="text-center">
        <h1>School Projects</h1>
    </div>
    ChessGame
    TicTacToe
</div>
