<navigation active="'developer'"></navigation>

<div class="container content border-radius-top tabs">
    <a class="tab" href="#!/developer">Resume</a>
    <a class="tab tab-active" href="#!/developer/projects">Projects</a>
</div>

<div class="container content border-radius-bottom p-1">

    <div class="text-center pt-5">
        <h1>Web Projects</h1>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>MakeYourOwn.buzz</h2>
            <img class="img-fluid" src="/img/projects/makeyourownbuzz.png">
            <p class="pt-3">
                This is a <a href="https://bigcommeerce.com">BigCommerce</a> template built for
                <a href="https://makeyourown.buzz" target="_blank">MakeYourOwn.buzz</a>. BigCommerce built their own theme platform called Stencil,
                and it includes a complete CLI toolset for building, debugging, and bundling themes. This particular theme is a fork of BigCommerce's
                open-source default theme, <a href="https://www.bigcommerce.com/theme/cornerstone-light/" target="_blank">Cornerstone</a>. My specific
                changes include a redesigned navigation bar, header, and front page, as well an additional tab in the product section and other minor
                changes and improvements.
            </p>
            <p class="text-right">
                <a href="https://github.com/chemconx/cornerstone_myo" class="btn btn-dark-2" target="_blank">MakeYourOwn.buzz GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>ChemistryConnection.com</h2>
            <img class="img-fluid" src="/img/projects/chemconx.png">
            <p class="pt-3">
                <a href="https://chemistryconnection.com">This site</a> is a full stack web solution for storing and linking to technical data
                sheets on MakeYourOwn.buzz. Its purpose was to be an easy to use PDF hosting tool for the Chemistry Connection staff to browse,
                upload, and copy links to technical data sheets for products on MakeYourOwn.buzz. Built with the Apache PHP web server.
            </p>
            <p class="text-right">
                <a href="https://github.com/chemconx/chemistryconnection.com" class="btn btn-dark-2" target="_blank">ChemistryConnection GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>missingthejoke.com</h2>
            <img class="img-fluid" src="/img/projects/missingthejoke.png">
            <p class="pt-3">
                <a href="https://missingthejoke.com">missingthejoke.com</a> is small landing page for a podcast that I produce with a friend
                of mine. Includes links to listen to the podcast, view on Patreon, and a small webstore for buying our stickers. Hosted on
                Google Firebase. Built with Bootstrap and AngularJS. The store checkout uses the Stripe framework.
            </p>
            <p class="text-right">
                <a href="https://github.com/DrOverbuild/missingthejoke" class="btn btn-dark-2" target="_blank">missingthejoke.com GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>cohoresource.app</h2>
            <img class="img-fluid" src="/img/projects/cohoresource.png">
            <p class="pt-3">
                Formerly cohoresourcebook.org, this website was built with a hand-built PHP template system, MySQL, HTML, CSS, JavaScript (with JQuery).
                It was built for administrators and interns at the <a href="https://www.coho58.org/">City of Hope
                Outreach</a> (a local non-profit in Conway, AR) to easily add and manage content
                of the resource app built for iOS and Android. Now, the project is hosted on Firebase, using their Realtime Database for the resource data.
                The administration panel was rebuilt as a single page web app with AngularJS and hosted on Firebase Hosting.
            </p>
            <p class="text-right">
                <a href="https://github.com/city-of-hope-outreach/cohoresourcebook.org" class="btn btn-dark-2" target="_blank">cohoresource.app GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="text-center pt-5">
        <h1>Mobile Projects</h1>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>CoHO Resource App</h2>
            <img class="img-fluid" src="/img/projects/cohoresourceapp.png">
            <p class="pt-3">
                The <a href="https://www.coho58.org/">City of Hope Outreach</a> Resource App was a dream of the Administrating Director of the local non-profit, Ambra McPeters. Based on a book which
                the organization regularly printed, the app contains a directory of organizations around central Arkansas where people could find help they
                need. Each resource lists an address, phone, email, hours open, and list of requirements. I volunteered to build the iOS app and the backend.
                After finishing the iOS app and releasing it to the App Store, I then started the Android app. The iOS verion was built natively using the
                Swift programming language. The Android port was built using the Flutter API.
            </p>
            <p class="text-right">
                <a href="https://github.com/city-of-hope-outreach/cohoresourceapp-ios" class="btn btn-dark-2" target="_blank">iOS Project GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>

            <p class="text-right">
                <a href="https://github.com/city-of-hope-outreach/cohoresourceapp_android" class="btn btn-dark-2" target="_blank">Android Project GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>enForm</h2>
            <img class="img-fluid" src="/img/projects/enform.png">
            <p class="pt-3">
                enForm is an iOS Application designed to improve the efficency of on-site engery audits. This application was designed to meet the needs
                of <a href="https://www.entegritypartners.com">Entegrity Partners</a>. Project led by
                <a href="https://www.linkedin.com/in/royerramirezruiz/">Royer Ramirez Ruiz</a>. I helped get Royer started with iOS development, and
                along the way he has contracted me to develop several major features.
            </p>
        </div>
    </div>

    <div class="text-center pt-5">
        <h1>School Projects</h1>
    </div>
    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>ChessGame</h2>
            <p class="pt-3">
                Built as a team project for CSCI4490, the UCA Computer Science Department capstone course. It is a nearly complete implementation of the game
                of chess allowing two separate computers to connect to a server, enabling the two players to play against each other on separate computers.
                It makes use of the Object Server-Client Framework, a TCP framework that allows socket communication of Java serializable objects. The server
                connects to a MySQL database to keep track of players' login information and statistics.
            </p>
            <p class="pb-3">
                I was the team leader for this project, brainstorming ideas and coordinating work among three other contributors. My main contribution was the
                game logic. The implementation of chess is not an easy thing to do, with there being several different moves across thousands of conditions.
                My design was strongly object-oriented, using polymorphism to build an initial list of moves each piece can make regardless of the other pieces
                on the board. After that list was generated, we eliminated possible moves by checking if the piece was blocked by other pieces. Finally, we
                removed moves on the board that put the king in check. This last step required us to copy the board in memory, make the hypothetical move, and
                check if the King is endangered. After that final step, if there were not any moves left for the player, we considered that the end of the game.
            </p>

            <p>
                The multiplayer communication was built using <a href="http://www.site.uottawa.ca/school/research/lloseng/supportMaterial/ocsf/ocsf.html">OCSF</a>,
                a framework that provides all of the basic TCP/IP socket communication.
            </p>

            <div class="ratio-16-9">
                <iframe src="https://www.youtube.com/embed/FPpXFF1IPzs?start=305"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <p class="text-right pt-3">
                <a href="https://github.com/DrOverbuild/ChessGame" class="btn btn-dark-2" target="_blank">ChessGame GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>

    <div class="row pr-4 pl-4 pt-5">
        <div class="col-lg-12">
            <h2>TicTacToe</h2>
            <p>
                This was a project for CSCI 4300, the Operating Systems course at UCA. The final project focused on socket inter-process communication. We were required
                to implement a multiplayer game using whichever programming language we prefered. So of course I chose Java because I had already gotten a chance
                previously to play with sockets and streams in Java. One may be thinking, <em>well, anyone can do a TicTacToe game, there's nothing special about
                that</em>, but the beauty of this project lies in the design of the TCP/IP socket communication between the clients and the server. The GitHub project
                includes a full report and documentation of the project.
            </p>

            <div class="ratio-16-9">
                <iframe src="https://www.youtube.com/embed/Z0NQMHf6TJk"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <p class="text-right pt-3">
                <a href="https://github.com/DrOverbuild/JavaTicTacToeMP" class="btn btn-dark-2" target="_blank">TicTacToe GitHub
                    <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>
</div>
